---
title: OWL Monitoring System
---
div.grafana-link
  div.container
    div.row
      div.col-sm-12
        a(href="javascript:;")
          h3 grafana
          .hyperlink.dashboard
            div.dashboard__inner
              span.icon
              h4 grafana >

div.monitoringsystem-link
  div.container
    div.row
      div.col-sm-4
        a(href="javascript:;")
          h3 监控Portal
          .hyperlink.portal

      div.col-sm-4
        a(href="javascript:;")
          h3 监控趋势图
          .hyperlink.search

      div.col-sm-4
        a(href="javascript:;")
          h3 未恢复的报警
          .hyperlink.alert
